
{{- 'collection-description.css' | asset_url | stylesheet_tag -}}

<div class="custom-section-wrapper">
  <div class="row">
    <div class="small-12 columns">
      <div class="collection-title-wrapper">
        <div class="collection-banner--content text-center">
      {%- if collection.description != '' -%}
      <div class="collection-description--main">
      <p>{{ collection.description }}</p>
      </div>
      {% endif %}
      </div>
    </div>
    </div>
  </div>
</div>






{% schema %}
  {
    "name": "Collection Description",
    "class": "collection-section",
    "settings": [],
     "presets": [
    {
      "name": "Collection Description"
    }
  ],
	"enabled_on": {
		"templates": ["*"],
		"groups": [
			"header", "footer"
		]
	}
  }
{% endschema %}